:root{
    --color1: #ffffff;
    --color2: #000000;
}
*{
    margin: 0%;
    padding: 0%;
}
.outer{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: var(--color1);
}
.container1{
    height: 40vh;
    width: 100vw;
    background-color: var(--color2);
    background-image: linear-gradient(315deg, #000000 30%, #282e30 64%);
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.photo{
    height: 25vh;
    width: 25vh;
    margin-right: 2em;
    border: 0.5em solid var(--color1)
}
.photo_content{
    height: 25vh;
    width: 35vh;
    display: flex;
    align-items: center;
    margin-left: 4em;
}

/* container2 */
.container2{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color2);
    margin: 0% 5% 0% 5%;
}
.edu_heading{
    font-size: 4em;
    margin: 10% 0% 20% 0%;
}
.edu_body{
    display: flex;
    flex-direction: row;
}
.edu_line{
    height: 40vh;
    width: 0.4vw;
    background-color: var(--color2);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8vw;
}
#edu_icon{
    font-size: 2em;
}

.institution{
    height: 40vh;
    display: flex;
    flex-direction: column;
}
.college{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.school{
    color: var(--color2);
    text-decoration: none;
    font-size: 1.5em;
}
.edu_year{
    font-size: 1.2em;
}

/* certificate */
