@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
:root{
    --color1: #ffffff;
    --color2: #000000;
}
*{
    margin: 0%;
    padding: 0%;
}
.progress-container {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
.progress-bar {
    height: 8px;
    background: #ff0000;
    width: 0%;
  }

.outer{
    height: auto;
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--color1);
}
.container1{
    height: 15em;
    width: 100vw;
    background-color: var(--color2);
    background-image: linear-gradient(315deg, #000000 30%, #282e30 64%);
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.photo{
    height: 9em;
    width: 9em;
    margin-right: 2em;
    border: 0.5em solid var(--color1)
}
.photo_content{
    height: 25vh;
    width: 35vh;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 4em;
}

/* container2 */
.container2{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color2);
}
.edu_heading{
    font-size: 4em;
    margin: 10% 0% 20% 0%;
    font-family: 'Roboto', sans-serif;
}
.edu_body{
    display: flex;
    flex-direction: row;
    margin: 0% 5% 0% 10%;
}
.edu_line{
    height: 40vh;
    width: 0.4vw;
    background-color: var(--color2);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8vw;
}
#edu_icon{
    font-size: 2em;
}

.institution{
    height: 40vh;
    display: flex;
    flex-direction: column;
}
.college{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.school{
    color: var(--color2);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}
.edu_year{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}

/* certificate */
.container3{
    height: 30em;
    width: 100vw;
    background-color: var(--color2);
    background-image: linear-gradient(315deg, #000000 30%, #282e30 64%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cert_heading{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    margin: 0.4em 0em 0.7em 0em;
}
.cert_body{
    width: 95%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin: 2em 0em 0em 0em;
    overflow-x: scroll;
    position: relative;
    /* white-space:nowrap; */
    -ms-overflow-style: none;  
      scrollbar-width: none;  
}
.cert_body::-webkit-scrollbar{
    display: none;
}
.cert{
    width: 18em;
    height: 14em;
    background-color: var(--color2);
    margin: 0em 0.2em 0em 0.2em;
    padding: 0.7em 0.4em 0em 0.4em;
    border-radius: 20px;
}
.cert:hover{
    background-color: var(--color1);
    color: var(--color2);
}
.cert_image{
    max-width: 10em;
    max-height: 10em;
}
.cert_description{
    display: flex;
    justify-content: center;
    margin-top: 0.4em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
}
.footer{
    height: 7vh;
    width: 100vw;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .icon{
    margin: 0em 0.3em 0em 0.3em;
    display: inline;
    font-size: 2em;
    z-index: 100;
    cursor: pointer;
}
#whatsapp{
    color: green;
}
#mail{
    color: red;
}
#insta{
    color: rgb(255, 17, 243);
}
#link{
    color: blue;
}

@media only screen and (max-width: 600px){
    .container1{
        height: 30em;
        flex-direction: column;
    }
    .photo{
        margin-top: 4em;
    }
    .photo_content{
        margin:0em 4em 0em 4em;
    }
}