@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
:root{
    --color1: #ffffff;
    --color2: #000000;
}
*{
    margin: 0%;
    padding: 0%;
}

.outer{
    height: 93vh;
    display: flex;
    align-items: center;
    background-color: var(--color1);
}

.container{
    background-color: var(--color2);
    background-image: linear-gradient(315deg, #000000 30%, #282e30 64%);
    color: var(--color1);
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
}
.top-content{
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}
.mid-content{
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}
.bottom-content{
    font-size: 2em;
    margin-top: 1em;
}
.main_button{
    padding: 0.6em;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border:none;
}
.main_button a{
    text-decoration: none;
    color: var(--color2) ;
    font-family: 'Roboto', sans-serif;
}
#about{
    background-color: rgb(0, 225, 255);
}
#resume{
    background-color: crimson;
    margin-left: 0.4em;
}
.footer{
    height: 7vh;
    width: 100vw;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .icon{
    margin: 0em 0.3em 0em 0.3em;
    display: inline;
    font-size: 2em;
    z-index: 100;
    cursor: pointer;
}
#whatsapp{
    color: green;
}
#mail{
    color: red;
}
#insta{
    color: rgb(255, 17, 243);
}
#link{
    color: blue;
}